* {
  box-sizing: border-box;
}

@media(max-width: 670px) {

 body {
   margin: 0;
   font-family: "Hiragino Kaku Gothic ProN";
 }

 a {
  text-decoration: none;
 }

 .container {
   width: 600%;
   padding: 0 15px;
   margin: 0 auto;
 }

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
  }

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: yellow;
  position :fixed;
  top: 0;
  z-index: 10;
}

.lesson-wrapper {
  height: 580px;
  background-color: white;
  text-align: center;
  width: 100%;
  }

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;
}

.heading h2 {
  font-weight: normal;
  width: 600px;
  text-align: center;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 600px;
  color: #b3aeb5;
  text-align: center;
}

.text-contents {
  width: 600px;
  display: inline-block;
  margin-top: 15px;
  font-size: 30px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
  width: 600px%;
  text-align: center;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 100px;
  height: auto; 
}

footer p {
  color: #b3aeb5;
  font-size: 20px;
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  
  .top-wrapper {
  padding: 100px 0 100px 0;
  background-size: cover;
  color: green;
  text-align: center;
 }

  .top-wrapper .btn {
    width: 100%;
  }

  .top-wrapper h1 {
    font-size: 50px;
    opacity: 0.7;
    letter-spacing: 5px;
  }

  .top-wrapper p {
    font-size: 50px;
    width: 100%;
    hight: 300px;
    opacity: 0.7;
    margin-bottom: 20px;
  }

  .lesson {
    width: 100%;
    float: left;
   

  .message-wrapper .btn {
    width: 100%;
  }
  
  .img {
    width: 100%;
    height: auto;
  }
  
}
